body {
    font-family: Arial;
    background-color: lightblue;
    text-align: left;
    padding: 35px;
}

img {
    width: 200px;
    margin: 10px;
    border-radius: 20px;
}

table {
    background-color: white;
}
